$app-primary: #9818d6;
$app-dark-primary: darken($app-primary, 10%);
$danger: #ff5151;
$warning: #ffa41b;
$app-light: #ededed;

$font-size: 16px;

$note-list-header-h: 120px;
$note-list-header-offset: $note-list-header-h + 10px;